/* .educationside > :nth-child(4) {
    font-size: 1.5rem;
    font-weight: bold;
  } */


  /* .educationside{
    color: var(--gray);
  } */


/* .vertical-timeline-element--education{
    color: var(--color-dark);
} */


/* .edu{
    color: var(--black);
    font-size: 1.5rem;
    font-weight: bold;
} */